@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 100;
		src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
	}
}

:root {
	--color: #000;
	--background: #fff;
	--foreground: #fff;
	--font-weight: 100;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color: #000;
		--background: #eee;
		--foreground: #202020;
	}
}

* {
	padding: 0;
	margin: 0;
}

body {
	color: var(--color);
	background: var(--background);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
