@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #000;
  --background: #fff;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #fff;
    --background:	#eee;
    --foreground:	#202020;
  }
}

body {
  color: var(--color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
